.bandera{
    height: auto;
    width: 270px;
    margin-bottom: 2rem; 
    border: 1px solid black;
    margin-left: 2rem; 
}

button{
    margin-left: 1rem;
    padding: 10px; 
    border-radius: 20px;
    margin-bottom: 2rem;
}
button:hover{
    transition: 500ms;
    background-color: moccasin;
    padding: 0.5rem;
    border-color: gold;
    border-width: 1rem;
}

.hidden {
  display: none;
}