.bandera{
    height: auto;
    width: 270px;
    margin-bottom: 2rem; 
    border: 1px solid black;
}

body{
  background: linear-gradient(
    135deg,
    #ffe8f3,
    #d9f3ff
  );
}
p{
  margin-top: 2rem;
  text-align: center;
}
p.margen{
    margin-top: 5rem;
    text-align: center;
}

h3{
    margin-top: 2rem;
    text-align: center;
}
.resultat{
    text-align: center;
    margin-top: 3rem;
}

.margen-bandera{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margen-boton{
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 1rem;               
    margin-bottom: 1rem;
}

.navegacion{
  gap :6rem;
}

button{
    padding: 1rem; 
    border-radius: 20px;
    margin-bottom: 2rem;
    background-color: #007bff;
    color: white;
    border:none;

}

button.resposta{
    transition-duration:  0.3s;
}

button.resposta:hover{
  background: linear-gradient(
    135deg,
    #d80a6d,
    #4fc5fc
  );   
   color:black;
    padding: 1rem 2rem;
}

.btn-outline-dark {
      margin-bottom: 2rem;
      padding: 0rem 2rem;
}

.icono{
  font-size: 2rem;
}

button.resposta:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


#partida button.resposta.seleccionada {
    background: linear-gradient(
      135deg,
      #d80a6d,
      #4fc5fc
    );      
    color: black;
    border: solid 2px #1b1d1d;
    opacity: 1;

}

#btnResultats {
    transition-duration:  0.3s;
}

#btnResultats:hover {
    padding: 1rem 2rem;
    background: linear-gradient(
      135deg,
      #d80a6d,
      #4fc5fc
    );  
}

#reiniciar {
    transition-duration: 0.3s;
    margin-top: 4rem;
    padding: 1rem 2rem;
    border-radius: 20px;
}

#reiniciar:hover {
    padding: 1rem 3rem;
    background: linear-gradient(
      135deg,
      #d80a6d,
      #4fc5fc
    );  
}


#panelRespostes {
  position: fixed;
  top: 0;
  margin-top: 5rem;
  right: 0;
  margin-right: 1rem;
  height: auto; 
  width: 265px;
  background: linear-gradient(
      135deg,
      #d80a6d,
      #4fc5fc
    );    
  padding: 5px;
  border-radius: 10px;
}

@media (max-width: 1080px) {
  #panelRespostes {
    position: relative; /* ya no fijo */
    width: 100%;       /* ocupa todo el ancho */
    height: auto;      /* altura automática */
    margin-top: 1rem;  /* un poco de separación */
    border-left: none; /* opcional, quitar borde */
  }
}

.hidden {
  display: none;
}

#btnEsborrar {
  position: fixed;
  bottom: 0;
  margin-top: 5rem;
  right: 0;
  margin-right: 5rem;
  padding: 1rem 2rem;
  border-radius: 10px;
}